.btn {
  font-family: MB;
  padding: 9px 10px;
  border: none;
  height: auto;
  background: $gold-bg;
  border-radius: 4px;
  &:hover {
    background: $gold-bg;
    color: black;
  }
  &-lg {
    padding: 20px;
  }
}
