@import '../../styles/vars';

.btn {
  height: auto;
  padding: 9px 10px;
  border: none;
  border-radius: 4px;
  background: $gold-bg;
  color: $dark-grey;
  font-family: MB;
  text-transform: uppercase;

  &:hover {
    background: $gold-bg;
    color: $dark-grey;
  }

  &-black {
    background: $light-black-2;
    color: white;

    &:hover {
      background: $light-black-2;
      color: white;
    }
  }

  &-lg {
    padding: 20px;
  }
}
