@import '../../styles/vars';

.franchise {
  &__presentation {
    padding: 120px 0 100px;
    background: $light-black-1;

    &_second,
    &_third {
      padding-top: 100px;
    }

    &-container {
      display: grid;
      grid-template-columns: auto 531px;
      grid-column-gap: 30px;
    }

    &_first &-container {
      grid-template-rows: 128px auto;
    }

    &_second &-container {
      grid-template-rows: 79px repeat(3, auto);
    }

    &-title {
      margin-bottom: 30px;
      font-family: MB;
      text-transform: uppercase;

      &_h2 {
        grid-column: span 2;
        margin-bottom: 33px;
      }
    }

    &_third &-title {
      margin-bottom: 40px;
    }

    &-text {
      grid-column: 1;
      max-width: 465px;

      &-bottom {
        text-transform: uppercase;
        margin-top: 49px;
      }
    }

    &-images {
      grid-column: 2;
      grid-row: 1 / span 2;

      img {
        width: 100%;
      }
    }

    &_second &-images {
      grid-row: 2 / span 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin-bottom: 100px;

      &_first {
        grid-column: span 2;
      }
    }

    &-items {
      grid-column: span 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-column-gap: 27px;
      grid-row-gap: 72px;
      z-index: 1;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 210px;
        padding: 0 35px;
        background: $light-black-1;

        @mixin icon-image($number) {
          &.icon-#{$number} {
            background-image: url('/assets/img/franchise/items-icon-#{$number}.svg');
          }
        }

        &-icon {
          &-container {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 64px;
            height: 64px;
            margin-bottom: 26px;
            border-radius: 50%;
            background: $gold-bg;
          }
        }

        &-text {
          text-align: center;
        }
      }
    }

    &_third &-items {
      justify-content: space-around;
      margin-bottom: 70px;
    }

    &-button {
      display: block;
      grid-column: span 2;
      margin: 0 auto;
    }
  }

  &__background-image {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
  }

  &__gold-presentation {
    padding: 100px 0 70px;
    background: $gold-bg;
    color: $gray;

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-title {
      margin-bottom: 49px;
    }

    &-text {
      max-width: 740px;
      margin-bottom: 60px;
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      justify-content: space-around;
      margin-bottom: 70px;
    }

    &-button {
      grid-column: span 2;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1099px) {
  .franchise {
    &__presentation {
      &-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto !important;
        justify-content: center;
        grid-gap: 0;
      }

      &-text {
        max-width: 800px;
      }

      &-images {
        grid-row: 3 !important;
        grid-column: 1;
        margin: 40px auto 0;
      }

      &-items {
        justify-content: center;
        grid-gap: 40px;
      }
    }

    &__gold-presentation {
      &-items {
        grid-template-columns: minmax(300px, 500px);
        grid-gap: 30px;
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 760px) {
  .franchise {
    &__presentation {
      &_first {
        padding-top: 76px;
        padding-bottom: 60px;
      }

      &_second {
        padding-top: 0;
      }

      &-title {
        font-family: MM;
        font-size: 10px;
      }

      &-images {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
      }
    }

    &__background-image {
      display: none;
    }
  }
}
