@import '../../styles/vars';
.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  left: 0;
  padding: 25px 0;
  background: #000;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: fit-content;
    & + & {
      margin-top: 30px;
      margin-left: 0;
    }
  }
  &__link {
    color: white;
    font-size: 12px;
    line-height: 15px;
    font-family: MM;
    & + & {
      margin-left: 20px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    margin-right: 30px;
    &-item {
      color: #ffffff;
      font-family: MB;
      & + & {
        margin-left: 30px;
      }
    }
  }
  &__icon {
    path {
      transition: 0.3s;
    }
    &-counter {
      border-radius: 50%;
      padding: 4px 5px;
      font-size: 11px;
      line-height: 10px;
      font-family: MB;
      color: #2e2e2e;
      position: absolute;
      background: #fbd54e;
      border: 2px solid #000000;
      bottom: calc(100% - 10px);
      left: calc(100% - 10px);
    }
    &-search {
      cursor: pointer;
      path,
      circle {
        transition: 0.3s;
      }
      &:hover {
        path,
        circle {
          stroke: $gold;
        }
      }
    }
    &-link {
      position: relative;
      margin: 0 24px;
      &:hover {
        svg {
          path {
            fill: $gold;
          }
        }
      }
    }
  }
}
